<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main-page">
    <h1 class="gradient-text move-down"><%= title %></h1>
    <p class="italic">Welcome to <%= title %></p>
    <a class="start-view" href="/skills">Click to View Skills</a>
  </body>
</html>
