* {
  box-sizing: border-box;
  line-height: 4rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.103);
}

body {
  padding: 4rem;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background: linear-gradient(150deg, rgb(247, 247, 98), rgb(217, 200, 240), rgb(217, 200, 240), rgb(247, 247, 98));
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2.5rem;
}

h1 {
  font-size: 4.5rem;
}

a {
  color: #00B7FF;
  text-decoration: none;
  display: inline-block;
  margin: 40px;
  transition: 500ms;
}

a:visited {
  color: rgb(98, 90, 98);
}

.redirect:visited {
  color: purple;
}

a:hover {
  transform: scale(1.5);
  transition: 300ms;
  color: yellow;
}

.redirect:hover {
  transform: scale(1.3);
  color:rgb(0, 153, 153);
}

.skill {
  font-size: 60px;
  font-weight: bold;
  margin-top: 150px;
}

.complete {
  font-size: 20px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.skill-list {
  font-size: 30px;
}

.completed {
  color: green;
}

.container {
  border: 3px solid black;
  margin: 100px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.11);
}

.start-view {
  color: rgb(0, 153, 153);
  font-size: x-large;
  transition: ease-in-out 600ms;
}

.start-view:visited {
  color: rgb(0, 153, 153);
}

.start-view:hover {
  color: yellow;
  transition: 1000ms;
}

.more-skill:hover {
  color: yellow;
}

.italic {
  font-style: italic;
}

.gradient-text {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgb(150, 150, 150), rgb(0, 0, 0), rgb(150, 150, 150), rgb(0, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0px 0 10px 0;
}

.move-down {
  margin-top: 250px;
}

.main-page {
  padding-top: 8rem;
}

.skills-page {
  height: 150vh;
  margin: 0 auto;
}

.add-new {
  text-shadow: none;
}

.add-new:visited {
  color: rgb(231, 150, 0);
}

.add-new:hover {
  color: yellow;
}

.delete-form {
  display: inline-block;
}
	
.delete-form button {
  color: rgb(255, 110, 110);
  background: none;
  border: none;
  cursor: pointer;
  text-shadow: none;
  font-size: 18px;
}

.delete-form:hover {
  transform: scale(1.5);
}
	
